body{
        display: flex;
        justify-content: center;
        align-items: center;
        
}
.calculator{
     width: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(26, 96, 139, 0.2); 
    

}
#display{
    width: 100%;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  font-size: 18px;   
  border-right: 1px solid #36597d;
}
button{
  width: 48px;
  height: 48px;
  margin: 3px;
  font-size: 18px;
  cursor: pointer;
}
