body{
        display: flex;
        justify-content: center;
        align-items: center;
}
.calculator{
     width: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);   

}
#display{
    width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  font-size: 18px;     
}
button{
  width: 48px;
  height: 48px;
  margin: 3px;
  font-size: 18px;
  cursor: pointer;
}
